<% include partials/header.ejs %>
<nav class="navbar navbar-light bg-light">
        <a class="float-left" href="/add" title="Add a New Assignment" >Add a New Assignment</a>    
        <a class="float-right" href="/home" title="Return to Home Page">Return to Home Page</a> 
        <a class="float-right" href="/search_history" title="Search Assignment History">Search Assignment History</a>
</nav> 
    <div class="container">
        <p></p>
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="submit-work-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    Lecturer Code:<input type="text" class="form-control" name="lecturer_code" id="lecturer-code" placeholder="Lecturer Code" required>
                </div>
                <div class="form-group col-md-4">
                    Mark Submit Date:<input type="date" class="form-control" name="mark_submit_date" id="mark-submit-date" placeholder="Mark Submit Date" required>
                </div>
                <div class="form-group col-md-4">
                    Mark Score:<input type="text" class="form-control" name="mark_score" id="mark-score" placeholder="Mark Score" required>
                </div>                
            </div>
            <div>
                <div class="col-md-12">
                    <label for="mark-file"><b>Mark File:</b?</label><br>
                    <input type="file" name="mark_file" id="mark-file" class="" required>
                </div>
            </div>            
            <button type="submit" class="btn btn-primary float-right">Submit Mark</button>
        </form>
        <br><br><br>
        <a><font size="2"><u>This is mark submit page.</u></font></a>        
    </div>
</div>
</body>
</html>